@charset "utf-8";

body {
	background-color : paleturquoise
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

img {
	width: 250px;
}

img:hover {
	width: 300px
}

img {
	border-style: solid;
	border-width: 5px;
}
